{% extends 'admin/master.html' %} {% block body %}


<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
<div class="jumbotron">
    <h2>Welcome to your DashBoard</h2>
    <h4>Name:Syed Sufiyan Ahmed</h4>
    <h4>Username:sufiyan@admin.com</h4>
    <h4>User id:1</h4>
    <h4>Email:syedsufiyan964@gmail.com</h4>

</div>
{% endblock %}